.rating-section {
    padding: 20px;
    border: 1px solid #fff5f5;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.rating-value {
    display: flex;
    align-items: center;
}

.rating-code {
    font-size: 24px;
    margin-right: 10px;
    color: black;
}

.high-risk {
    background-color: red;
    color: white;
    padding: 5px;
    font-weight: bold;
}

.embarrassment {
    background-color: orange;
    color: white;
    padding: 5px;
    font-weight: bold;
}

.score-section {
    display: flex;
    justify-content: space-between;
}

.failure-score, .payment-behaviour {
    width: 45%;
    padding: 10px;
    border: 1px solid #ccc;
}

.failure-score {
    background-color: rgb(147, 212, 147);
    color: black;
}

.payment-behaviour {
    background-color: rgb(157, 0, 0);
    color: white;
}

.score-value {
    font-size: 36px;
}

.days-beyond {
    font-size: 24px;
}